.about-container {
    margin-top: 3rem;
    
}
.about-title {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(62, 88, 158);
    margin-bottom: 1rem;
}
.about-info {
    text-align: center;
    color: gray;
    margin: 0 auto;
}
.about-redi {
    color: #58ADC4;
}
.about-redi:hover {
    color: rgb(206, 136, 148);
}
.about {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.profile-name {
    font-size: 1.3rem;
    margin: 5px 0;
}

.profile-position {
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: gray;
}

.profile-link {
    font-size: 2rem;
    color: rgb(62, 88, 158);
    transition: all .3s ease;
}

.profile-link:hover {
    color: rgb(206, 136, 148);
}