*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

#itensCar{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#createItem{
    display: flex;
    padding-left:10rem;
    padding-top: 4rem;
    
}
#imageProduct{
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding-top: 2rem;
   
}
#detailsText {
    display: flex;
    flex-direction: column;
    /* padding-right: 3rem; */
    height: 0.5px;
    border: solid 0.5px;
    border-color:lightgray;
    padding-left: 3rem;
    
}
#titleProduct{
   padding-right: 3rem;
   padding-top: 2rem;
    
}
#priceProduct{
    padding-top: 3rem;
}
#deleteItens{

    background-color: aquamarine;
    width:70px;
    height: 20px;
}
