*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#products {
  display: flex;
  width: 100%;
  min-height: 90vh;
  flex-wrap: wrap;
  justify-content: center;
}
#productSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
  height: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 10%),
    0px 2px 2px 0px rgb(0 0 0 / 10%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 1.5rem 2rem;
  margin-left: 22px;
  margin-bottom: 32px;
  margin-top: 20px;
  color: black;
}
#productSection span {
  align-self: flex-end;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
#imageProduct img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
#iconCart {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: rgb(62, 88, 158);
  transition: all 0.3s ease;
  cursor: pointer;
}
#iconHeart {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(62, 88, 158);
  transition: all 0.3s ease;
}
#iconCart:hover {
  color: rgb(206, 136, 148);
}
#iconHeart:hover {
  color: rgb(206, 136, 148);
}
.seeDetailBtn {
  text-decoration: none;
  font-size: 1rem;
  align-self: center;
  margin-right: 1rem;
  background-color: powderblue;
  color: rgb(62, 88, 158);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
  transition: all 0.3s ease;
}
.seeDetailBtn:hover {
  color: rgb(206, 136, 148);
}

#titleProduct {
  margin: 5px 0;
  padding: 0.8rem;
  font-family: HelveticaNow, Helvetica, sans-serif;
}
#priceProduct {
  margin-bottom: 5px;
  font-size: 1.1rem;
}
#iconStar {
  color: rgb(62, 88, 158);
  display: flex;
  text-decoration: none;
  padding: 2px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: powderblue;
  color: white;
}

.round {
  border-radius: 50%;
}
#buttonNext {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.footer {
  padding: 2rem;
}
